@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>
    <div class="alert alert-danger" style="width: 650px;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h3 id="msgRetorno" style="padding-top: 20px;">Ops! Algo deu errado :(</h3>
        <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div style="padding-top: 15px;"></div>
    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <span id="msgRetorno">@ViewBag.Sucesso</span>
    </div>
}

@if (TempData["sucesso"] != null)
{
    <div style="padding-top: 15px;"></div>
    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <span id="msgRetorno">@Html.Raw(TempData["sucesso"].ToString())</span>
    </div>
}

